{% extends "base.html" %}

{% block title %} Work {% endblock %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static' , filename ='css/work.css')}}">
<link rel="stylesheet" href="../static/css/base.css" />
{% endblock %}
{% block style %}
<style>
	.col-twelve {
		width: 98%;
	}
</style>
{% endblock %}

{% block content %}


<!-- Portfolio Section
   ================================================== -->
<section id="portfolio">
	<div class="row section-intro">
		<div class="col-twelve">
			<h5>my done Projects</h5>
			<h1>Check Out Some of My Works.</h1>

			<p class="lead"></p>
		</div>
	</div>
	<!-- /section-intro-->

	<div class="row portfolio-content">
		<div class="col-twelve">
			<!-- portfolio-wrapper -->
			<div id="folio-wrapper" class="block-1-2 block-mob-full stack">
				<!-- start Wrapper -->
				<!-- Task App With FLASK -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/TaskApp_jQuery.git">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-slide-top light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/TaskAppFlask.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Task APP with Flask</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- kasper -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/Kasper-Template">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-slide-top light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/kasper.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Kasper Template</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Leon -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/Leon-Template">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-move-top light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/leon.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Leon Template</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Bondi -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/Bondi-Template">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-push-bottom light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/Bondi.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Bondi Template</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Solar Tracker -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="work-detail.html">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-slide-left light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/pfe.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Solar Tracker IOT</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Task app local -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="work-detail.html">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-push-bottom light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/TaskApp.jpg" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Task App with LocalStorage</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- weather station -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="work-detail.html">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-zoom-in light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/station1.jpg" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Weather station with alarme</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Facebook clone -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/FacebookLoginPage">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-slide-top light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/Facebook.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Facebook Login Page Clone</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- Clothe online -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/Clothes-Online-Store">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox  ef-push-top light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/store.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Clothes Online Store</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>
				<!-- random passwoard -->
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<!-- work -->
						<div class="work">
							<a href="https://github.com/H-sohaib/random-password-generator">
								<!-- hoverbox ef-slide-top -->
								<div class="hoverbox ef-push-bottom light">
									<!-- hb_front -->
									<div class="hb_front">
										<img src="../static/images/portfolio/Paswoard.png" alt="" />
									</div><!-- End / hb_front -->
									<!-- hb_back -->
									<div class="hb_back">
										<h2 class="work__title">Random Password Generator</h2><span class="work__text">View
											detail</span>
									</div><!-- End / hb_back -->
								</div><!-- End / hoverbox ef-slide-top -->
							</a>
						</div>
						<!-- End / work -->
					</div>
				</div>


			</div>
			<!-- /portfolio-wrapper -->
		</div>
		<!-- /twelve -->
	</div>
	<!-- /portfolio-content -->

</section>
<!-- /portfolio -->

{% endblock%}